<div class="nested-fields">
  <%= f.input :input_type, collection: InputParameter.possible_input_types %>
  <%= f.simple_fields_for :fields do |ff| %>
    <%= render partial: 'fields/form', locals: { f: ff } %>
  <% end %>
</div>
